{% extends 'base_admin2.html' %}
{% load static %}


{% block mydash2 %}
{#////////////////////////////////// ajax list CurriculumVitae \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\#}
<script>
    var URL_job = "/employer/EmployerJobsFullViewSet/";

    function get_jobs()
    {
        $.getJSON(URL_job,{},get_jobs1);
    }

    var ID_job = '';
    function get_jobs1(employee) {
        var JobTitle1 = '';
        var JobType1='';
        var JobRole1='';
        var JobRequirements1='';
        var JobExperience1='';
        for (var i = 0; i < employee.length; i++)
        {
            ID_job = employee[i].id

            JobTitle1 = employee[i].JobTitle;
            JobType1 = employee[i].JobType;
            JobRole1 =  employee[i].JobRole;
            JobRequirements1 =  employee[i].JobRequirements;
            JobExperience1 =  employee[i].JobExperience;
            {#CurriculumVitaeExperience =  employee[i].CurriculumVitaeExperience;#}
            {#CurriculumVitaeEducate =  employee[i].CurriculumVitaeEducate;#}

            $("#mycvrow").append("<tr>"+
                "<td>" +
                    '<label class="custom-control custom-checkbox">' +
                        '<input type="checkbox" class="custom-control-input select_checkbox" name="checkbox" value='+ID_job+' id="checkbox_getid">'+
                        '<span class="custom-control-label"></span>'+
                    '</label>'
                + "</td>" +
                "<td >" + "<a onclick='list_apply("+ID_job+")' value="+ID_job+"> " + JobTitle1 + "</a>" +"</td >" +
                "<td>" + JobType1 + "</td>" +
                "<td>" + JobRole1 + "</td>" +
                "<td>" + JobRequirements1 + "</td>" +
                "<td>" + JobExperience1 + "</td>" +
                '<td>' +
                    '<button onclick="showform_job_update(value)" value='+ID_job+' id='+ID_job+' class="btn btn-success btn-sm text-white" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i></button>' +
                    '<button onclick="show_hide_bank()" id='+ID_job+' class="btn btn-danger btn-sm text-white" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>' +
                    '<button onclick="show_hide_bank()" id='+ID_job+' class="btn btn-primary btn-sm text-white" data-toggle="tooltip" data-original-title="View"><i class="fa fa-eye"></i></button>' +
                '</td>' +

                "</tr>")
        }
    }

    function list_apply(id){
        window.location.href = "/page/listapply/"+id+"/";
    }

    window.onload = get_jobs()
</script>
{#//////////////////////////////////// end ajax list CurriculumVitae \\\\\\\\\\\\\\\\\\\\\\\\#}

{#///////////////////////////////// html list CurriculumVitae \\\\\\\\\\\\\\\\\\\\\\\\\\\\#}
    <div class="col-xl-9 col-lg-12 col-md-12">
        <div class="card" id="listmycv">
            <div class="card-header ">
                <h3 class="card-title">List Jobs</h3>
                <div class="card-options">
                    <button onclick="showform_job_add()" class="btn btn-light btn-sm" href="#"><i class="fa fa-plus"></i> Add Another</button>
                </div>
            </div>
            <div class="card-body">
                <div class="ads-tabs">
                    <div class="tabs-menus">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs">
                            <li class=""><a href="#tab1" class="active" data-toggle="tab">All Ads (20)</a></li>
                            <li><a href="#tab2" data-toggle="tab">Published (08)</a></li>
                            <li><a href="#tab3" data-toggle="tab">Featured (05)</a></li>
                            <li><a href="#tab4" data-toggle="tab">Sold (03)</a></li>
                            <li><a href="#tab5" data-toggle="tab">Active (03)</a></li>
                            <li><a href="#tab6" data-toggle="tab">Expired (01)</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                    <div class="tab-pane active table-responsive border-top userprof-tab" id="tab1">
                        <table class="table table-bordered table-hover mb-0 text-nowrap">
                            <thead>
                                <tr>
                                    <th>select</th>
{#                                    <th>UserIDCurriculumVitae</th>#}
{#                                    <th>EmployeeIDCurriculumVitae</th>#}
                                    <th>JobTitle</th>
                                    <th>JobType</th>
                                    <th>JobRole</th>
{#                                    <th>Career</th>#}
                                    <th>JobRequirements</th>
{#                                    <th>DesiredSalary</th>#}
                                    <th>JobExperience</th>
{#                                    <th>CurriculumVitaeExperience</th>#}
{#                                    <th>CurriculumVitaeEducate</th>#}
                                    <th >Action</th>
                                </tr>
                            </thead>
                            <tbody id="mycvrow">
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>

            </div>

        </div>
    </div>
{#//////////////////////////////////// end html list CurriculumVitae \\\\\\\\\\\\\\\\\\\\\\\\\\\\#}

{#////////////////////////////////// ajax add - detail - update CurriculumVitae \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\#}
    <script>
        function showform_job_add() {
            window.location.href = "/page/jobs/"
        }
    </script>
{#//////////////////////////////////// end ajax add - detail - update CurriculumVitae \\\\\\\\\\\\\\\\\\\\\\\\#}

{% endblock %}
